body{
    background-image: url(Background\ login.jpg);
}

.login{
    text-align: center;
    background-color: #D9D8D2;
    margin-left: 30%;
    margin-right: 36%;
    margin-top: 0;
    padding: 0px 0px 5px 0px;
}

.gif-logo{
    background-size: 10px;
}