body{
    background-image: url(Background\ login.jpg);
}

.login{
    text-align: center;
    background-color: #E3E2DD;
    margin-left: 30%;
    margin-right: 36%;
    margin-top: 2%;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}

#titulo-principal{
    font-size: 35px;
}