body{
    background-image: url(Background\ login.jpg);
}

.login{
    text-align: center;
    background-color: #E3E2DD;
    margin-left: 30%;
    margin-right: 36%;
    margin-top: 2%;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}

#titulo-principal{
    font-size: 35px;
    color: #2B2B2B;
}

#email, #pwd{
    width: 50%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: none;
}

#bottom-entrar{
    width: 50%;
    padding: 10px 1px 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #2B2B2B;
    color: #E3E2DD;
}

